<div class="container">
  <form>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item active">Montagem de Veículo</li>
    </ol>

    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-danger" role="alert" *ngIf="mensagemErro">
          {{mensagemErro}}
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label>Chasi: </label>
          <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="montagemVeiculo.idChasi">
            <option *ngFor="let chasi of chasis" [ngValue]="chasi.id">
              Cod. {{ chasi.codigo }} | Marca {{ chasi.marca }} | R$ {{ chasi.preco }}
            </option>
          </select>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label>Motor: </label>
          <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="montagemVeiculo.idMotor">
            <option *ngFor="let motor of motores" [ngValue]="motor.id">
              Cod. {{ motor.codigo }} | Marca {{ motor.marca }} | R$ {{ motor.preco }} 
            </option>
          </select>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label>Cor: </label>
          <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="montagemVeiculo.idCor">
            <option *ngFor="let cor of cores" [ngValue]="cor.id">
             Cor {{ cor.descricao }} | {{ cor.tipo }}
            </option>
          </select>
        </div>
      </div>

      <div class="col-md-3">
        <div class="form-group">
          <label>Pneu: </label>
          <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="montagemVeiculo.idPneu">
            <option *ngFor="let pneu of pneus" [ngValue]="pneu.id">
             Aro {{ pneu.aro }} | R$ {{ pneu.preco }} Cada
            </option>
          </select>
        </div>
      </div>


    </div>
    <div class="row">
      <div class="col-md-3">
        <button type="button" class="btn btn-outline-success ml-1" (click)="calcularMontagem()">
          Calcular Montagem
        </button>
        <br>
        <p> Valor da Montagem : R$  {{ valorMontagem }} </p>
      </div>
    </div>
  </form>
</div>
